@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 100px; 
    line-height: 1.6;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    @apply bg-primary text-white p-4 shadow-md
  }

  header h1 {
    @apply text-2xl font-bold;
  }

  header h2 {
    @apply text-sm italic leading-relaxed mb-2;
  }
  
  
  header nav ul li {
    display: inline;
    @apply text-secondary p-2 bg-primary rounded-lg no-underline hover:bg-background hover:text-primary transition-colors duration-300 shadow-lg;
  }
  
  .photo-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: 6px solid #5d5370;
  }
  
  .header-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 1rem;
    border-top: 2px solid #ccc;
    z-index: 1000;
    @apply bg-primary text-secondary py-6;
  }
  
  footer p {
    padding-right: 40px;
    @apply text-sm;
  }

  section {
    @apply bg-background text-primary py-8 container mx-auto px-4
  }

  section h2 {
    @apply text-3xl font-semibold mb-6;
  }

  section p {
    @apply mb-2;
  }

  section li {
    @apply mb-2;
  }

  